---
layout: default
---
{%- include header.html -%}
<main class="page-content" aria-label="Content">
  <div class="wrapper text-justify">
    {% if page.breadcrumb %}
    <nav>
      <div class="breadcrumb">
        <a class="breadcrumb-item" href="{{"/" | relative_url}}">Home</a>
        {% for id in page.breadcrumb %}
          {% assign doc = site.guides | where: "id", id | first %}
          <a href="{{doc.url | relative_url}}" class="breadcrumb-item">{{doc.title}}</a>
        {% endfor %}
        <a class="breadcrumb-item active">{{page.title}}</a>
      </div>
    </nav>
    {% endif %}
    {% if page.alert %}
      {% include alert.html type=page.alert %}
    {% endif %}
    <h1>{{ page.title }}</h1>
    <hr>
    {{ content }}
    <div class="top-30"></div>
    <hr>
    <div class="top-30"></div>
    <div class="row">
      {% if page.previus_doc %}
        <div class="col-sm"><a href="{{page.previus_doc | relative_url}}"><button type="button" class="btn btn-outline-dark"><i class="material-icons">navigate_before</i></button></a></div>
      {% endif %}
      {% if page.next_doc %}
        <div class="col-sm"><a href="{{page.next_doc | relative_url}}"><button type="button" class="btn btn-outline-dark"><i class="material-icons">navigate_next</i></button></a></div>
      {% endif %}
    </div>
  </div>
</main>
{% include footer-script.html %}